[
  {
    "scope": "https://accounts.google.com",
    "method": "POST",
    "path": "/o/oauth2/token",
    "status": 200,
    "response": {
      "access_token": "ya29.Ci_WA5Cv9B79KcFcHrlzAKi7mcFP5XHchYSu2Bp4qtn2l-Xyidm_xAOBRX79OgoU6g",
      "expires_in": 3600,
      "refresh_token": "1/DtYZYXLYEnN1XypfHg1N5U4W7TBwDRL7qzlkDhi0zQc",
      "token_type": "Bearer"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json; charset=utf-8",
      "nosniff",
      "no-cache, no-store, max-age=0, must-revalidate",
      "no-cache",
      "Mon, 01 Jan 1990 00:00:00 GMT",
      "Tue, 17 Jan 2017 09:24:56 GMT",
      "Content-Disposition",
      "attachment; filename=\"json.txt\"; filename*=UTF-8''json.txt",
      "ESF",
      "1; mode=block",
      "SAMEORIGIN",
      "quic=\":443\"; ma=2592000; v=\"35,34\"",
      "none",
      "close"
    ]
  }
]
